
.about {
    max-width: 600px;
    padding: 5px;
    margin: 50px auto;
}

.about__header {
    width: 10 px;
    height: 20 px;
    padding: 5px;
}

.about__box {
    background: #F6BB01;
    border: 1px #020202 solid;
    margin: 5px auto;
}

.about__paragraph--color {
    max-width: 600px;
    padding: 5px;
    margin: 50px auto;
    color: #F6BB01;
}

.footer {
    color:#F6BB01;
}




