*
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}


body {
    background-color: #E7EDF3;
}


.about {
    max-width: 600px;
    padding: 5px;
    margin: 50px auto;
}

.about__header {
    width: 10 px;
    height: 20 px;
    padding: 5px;
}

.about__box {
    background: #F6BB01;
    border: 1px #020202 solid;
    margin: 5px auto;
}

.about__footer {
    padding-top: 10px;
    padding-bottom: 10px;
}

.about__paragraph--color {
    max-width: 600px;
    padding: 5px;
    margin: 50px auto;
    color: #F6BB01;
}

.about__size-table {
    border-collapse: collapse;
    background: #ffffff;
}

.about__size-table--caption {
    background: rgb(133, 133, 133);
}

.about__size-table--th {
    background: #F6BB01;
}

.about__size-table--td, .about__size-table--th {
    padding: 5px;
}

.about__shop-details, .about__size, .about__footer {
    max-width: 600px;
    padding: 5px;
    margin: 5px auto;
    color: rgb(0, 0, 0);
}

.about__shop-details--list {
    color: #F6BB01;
    list-style: none;
}


.article {
    max-width: 600px;
    padding: 5px;
    margin: 50px auto;
}

.article__image {
    width: 100%;
    max-width: 200px;
    display: flex;
    margin: 0 16px 0;
}

.article__title {
    color: #020203;
    font-size: 35px
}

.article__title--small {
    color: #020203;
    font-size: 25px
}


.article__description--short {
    max-width: 600px;
    padding: 5px;
    margin: 10px auto;
}

.article__description {
    background-color: #ffffff;
    border-radius: 10px;
    line-height: 20px;
}

.article__description--main {
    overflow: hidden;
    border-bottom: 1px #F6BB01 solid;
    padding-bottom: 10px;
}

.article__link {
    color: #F6BB01;
}

.header {
    color: #020203;
    font-size: 70px;
    padding: 5px;
    max-width: 1200px;
    margin: 50px auto;
}

.footer {
    color: #F6BB01;
}

.navigation {
    top: 5px;
    display: flex;
}

.navigation__link {
    color: #F6BB01;
    text-decoration: none;
    align-items: center;
}


.navigation, navigation__image {
    position: fixed;
    top: 0px;
    text-decoration: none;
    background: #45484c;
    width: 100vw;
    box-sizing: border-box;
}

.navigation__list {
    margin: 5px;
    display: flex;
    width: 100vw;
    list-style: none;    
    flex-flow: row wrap;
    justify-content: center;
}

.navigation__image {
    top: 10px;
    width: 100vw;

}


.navigation__item {
    margin: 5px;
    border: 1px solid white;
    padding: 5px;
    flex-basis: 200px;
    display: flex;
    justify-content: center;
}

.site {
    background-image: url('../jpg/road.jpeg');
    min-height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: contain;
}

.section {
    background-color: rgba(255, 255, 255, 0.495);
    top: 500px;
    margin: 100px auto;
    width: 30vw;
    max-height: 300px;
    overflow: scroll;
    text-align: center;
}

.site__small {
    background: #757F9A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}